<ion-view view-title="Sign Up">
  <ion-content class="padding">
    Sign Up

    <div class="list list-inset">
      <button class="button button-block button-balanced">
        <span class="ion-social-google"></span> Sign Up using Google
      </button>
      <button id="facebook-button" class="button button-block button-positive">
        <span class="ion-social-facebook"></span> Sign Up using Facebook
      </button>

      <label class="item item-input">
        <input type="email" placeholder="Email Address" />
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password (Case-Sensitive)" />
      </label>

      <button class="button button-block" disabled="disabled">Sign Up</button>
    </div>


  </ion-content>
</ion-view>
