<ion-view view-title="Sign Up">
  <ion-content class="padding">
    Sign Up

    <div class="list list-inset">
      <button id="google-btn" class="button button-block button-balanced">
        <span class="ion-social-google"></span> Sign up with Google
      </button>
      <button id="facebook-button" class="button button-block button-positive">
        <span class="ion-social-facebook"></span> Sign up with Facebook
      </button>

      <label class="item item-input">
        <input type="email" placeholder="Email Address" />
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password (Case-Sensitive)" />
      </label>

      <ion-checkbox ng-model="isChecked">
        I have read, understand and agree to <a href="#">The
        Terms & Conditions of the MyLowe's Program</a>
      </ion-checkbox>

      <button class="button button-block" disabled="disabled">Sign Up</button>
    </div>
    <div id="name"></div>


    <script>
      var googleUser = {};
      var startApp = function() {
        gapi.load('auth2', function(){
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          auth2 = gapi.auth2.init({
            client_id: '105150187043-unh96ra704bc0875kpk2voin9e76cjap.apps.googleusercontent.com',
            cookiepolicy: 'single_host_origin',
            // Request scopes in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
          attachSignin(document.getElementById('google-btn'));
        });
      };

      function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function(googleUser) {
              var profile = googleUser.getBasicProfile();
              var user = {
                id: profile.getId(),
                name: profile.getName(),
                imageUrl: profile.getImageUrl(),
                email: profile.getEmail()
              };
              window.user = user;

              console.log('ID: ' + user.id); // Do not send to your backend! Use an ID token instead.
              console.log('Name: ' + user.name);
              console.log('Image URL: ' + user.imageUrl);
              console.log('Email: ' + user.profile);

              window.location = '/#/tab/mylowes-signup-google';

              document.getElementById('name').innerHTML = "Signed in: " +
                  user.name;
            }, function(error) {
              alert(JSON.stringify(error, undefined, 2));
            });
      }

      startApp();
    </script>
  </ion-content>
</ion-view>
