<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Menu Tab -->
  <ion-tab title="Menu" icon-off="ion-navicon" icon-on="ion-navicon-round" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

  <!-- Shop Tab -->
  <ion-tab title="Shop" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tab/shop">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>

  <!-- Cart Tab -->
  <ion-tab title="Cart" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

  <!-- Tools Tab -->
  <ion-tab title="Tools" icon-off="ion-ios-briefcase-outline" icon-on="ion-ios-briefcase" href="#/tab/tools">
    <ion-nav-view name="tab-tools"></ion-nav-view>
  </ion-tab>

  <!-- MyLowe's Tab -->
  <ion-tab title="MyLowe's" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/mylowes-signin">
    <ion-nav-view name="mylowes"></ion-nav-view>
  </ion-tab>


</ion-tabs>
